<!-- {%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Srisakdi');
     h2{            display: block;
            font-family: 'Srisakdi', 'Trebuchet MS';
            color: #360a70cc;
            font-size: 40px;
            font-weight: 1000;
            
          }
          ul {
            font-family: 'Srisakdi',  Georgia;
          }
          body{
            background-image: url('/static/css/photo/pexels-1308624.jpg')
          }
          a{            display: block;
                    font-family: 'Srisakdi', 'Trebuchet MS';
                    color: #360a70cc;
                    font-size: 20px;
                    font-weight: 1000;
                    text-align: center;
                  }
          
  </style>
<div class="container">
  <div class="row">

    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
              Don't have an account?
              <a href="/accounts/register/"> Sign Up</a>
            </div>
        <!--  -->

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>

    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %} -->